<header>
  <div id="logo">
    <img src="../assets/adewale-logo.png" alt="">
  </div>
  <nav id="horizontal-nav">
      <ul>
          <li>Acceuil</li>
          <li>Boutique</li>
          <li>A propos</li>
          <li>Témoignages</li>
          <li>Contatctez-nous</li>
      </ul>
  </nav>
  <div id="shopping-cart">
    <div>
      <img src="../assets/search-outline.svg" alt="search icon">
      <input style="display: none;" type="search">
    </div>
    <div>
      <img src="../assets/shopping_bag_FILL0_wght400_GRAD0_opsz48.svg" alt="shopping bag">
      <div>0</div>
    </div>
  </div>
</header>

<body>
  <div id="home-section">
    <div class="intro-article">
      <h2>Réveillez votre beauté</h2>
      <div>
        Nous vous proposons des vêtements africains de
        haute qualité pour sublimer la beauté que vous êtes.
        Redécouvrez-vous avec un nouveau style et de
        nouvelles couleurs.
      </div>
      <button>
        Essayez gratuitement
      </button>
    </div>
  
    <div id="adewale-image">
      <img src="../assets/background.png" alt="adewale image">
    </div>
    <div id="men-women">
      <div>
        Pour les hommes 
        les femmes 
        et les enfants
      </div>
      <div></div>
    </div>
    <div id="arrow-down">
      <i class="fa-sharp fa-solid fa-arrow-down"></i>
    </div>
    <div id="home-social-media-link">
        <div><i class="fa-brands fa-pinterest-p"></i></div>
        <div><i class="fa-brands fa-facebook-f"></i></div>
        <div><i class="fa-brands fa-instagram"></i></div>
    </div>
  </div>
  <div id="fashion-presentation">
    <div class="intro-article">
      <h2>Le bonheur à votre portée.</h2>
      <div>
        Adéwalé Fashion vous propose une large sélection 
        de vêtements africains pour hommes et femmes, 
        alliant styles traditionnels et modernes. 

        Nous travaillons avec des designers talentueux et 
        utilisons des matériaux de qualité supérieure pour 
        offrir des produits durables et confortables. Notre 
        objectif est de fournir une expérience de shopping 
        en ligne facile et agréable avec une livraison rapide 
        et un service client attentif. 

        Nous sommes fiers de soutenir la communauté 
        africaine en collaborant avec des entreprises locales. 
        Rejoignez la communauté Adéwalé Fashion et portez 
        fièrement la mode africaine!
      </div>
      <button>
        Explorez maintenant
      </button>
    </div>
    <div id="symbol">
      <img src="../assets/symbol.png" alt="">
    </div>
    <div id="fashion-image-container">
      <div class="fashion-image"> <div><button>Acheter cette tenue</button></div><img src="../assets/fashion-girl1.png" alt=""></div>
      <div class="fashion-image"><div><button>Acheter cette tenue</button></div><img src="../assets/fashion-girl2.png" alt=""></div>
      <div class="fashion-image"><div><button>Acheter cette tenue</button></div><img src="../assets/fashion-man1.png" alt=""></div>
      <div class="fashion-image"><div><button>Acheter cette tenue</button></div><img src="../assets/fashion-man2.png" alt=""></div>
    </div>
  </div>
</body>