@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face {
    font-family: 'giflika';
    src: url('../assets/font/giflika-regular.otf');
  }
  @keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
    0% {
		transform: translatey(0px);
	}
}
  $secondary:#430711;
  $primary:#FFAB00;
 body{
    margin: 8px 0px 0px 0px;
 } 
button{
    border:none;
    background-color:$secondary;
    color: white;
    padding: 10px 35px 10px 35px;
    gap: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    cursor: pointer;
    &:hover{
        color: $primary !important;
    }
}
  .flex-space{
        display: flex;
        align-items: center;
        justify-content:space-between;
    }
    .flex-center{
        @extend .flex-space;
        justify-content:center !important;
    }
    .nav{
        width: 656px;
        @extend .flex-center;
        flex-wrap: wrap;
        font-size: medium;
        ul{
            width: 100%;
            @extend .flex-space; 
            list-style-type: none;
            cursor: pointer
            
        }
        li{
            transition-duration:0.2s ;
            transition-property: color,font-size;
            font-weight: 500;
            cursor: pointer;
            font-family: 'Inter', sans-serif;

        }
        li:hover{
            color:$primary;
            font-size: 1.1em
        }
    }
    #hamberger-menu{
        display: none;
    }
  header{
    background-color: #fffbf2;
    padding: 24px 80px 20px 80px;
    display: flex;
    margin-bottom: 8px;
    @extend .flex-space;
    #logo{
       width: 85px;
       height: 60px; 
    }
    

    #shopping-cart{
        min-width: 80px;
        height: 33px;
        @extend .flex-space;
        div{
            display: flex;
            align-items: center;
        }
        z-index: 100;
        img{
            height: 30px;
            width: 30px;
            cursor: pointer;

        }
        #searchBar{
            height: 32px !important;
            border-radius: 5px;
            font-family: 'Inter',sans-serif;
            margin-left: 16px;
            outline: none;
            background-color: rgba(255, 255, 255, 0.5);
        }
        .searchDisplay{
            width: clamp(100px,20vw,200px);
            border: 0.5px solid rgba(0, 0, 0, 0.489);
            transition: 0.3s  ease-in ;
            transition-property: width;
            margin-right: 32px;

        }
        .searchHiden{
            width: 0px;
            border-width: 0px;
            transition: 0.3s ease-out width;
            opacity: 0;
        }
        div:nth-child(1){
            img{
                transform: rotate(90deg);
            }
        }
        div:nth-child(2){
            position: relative;
            margin-left: -16px;
            div{
                height: 15px;
                width: 15px;
                border-radius: 50%;
                text-align: center;
                justify-content: center;
                position: absolute;
                bottom: -2px;
                right: -2px;
                background: linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), #FFAA00;
                padding: 3px;
                font-size: small;
            }
        }

    }
  }
  .intro-article{
    z-index: 3;
    width: clamp(300px,30vw,500px);
    h2{
        color:$secondary;
        font-family: 'giflika',sans-serif;
        font-size: 28px;
        font-weight: 400 !important;
        margin-bottom: 33px;
    }
    div{
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 18px;
        text-align: left;
        div{
            margin-bottom: 16px;
            &:last-child{
                margin-bottom: 0px;
            }
        }
    }
    button{
        margin-top: 42px;
    }
    
}

#men-women{
    z-index: 3;
    margin-top: 100px;
    font-family: 'giflika',sans-serif;
    width: 218px;
    text-align: left;
    margin-left: 79px;
    font-size: 28px;
    position: relative;
    color:$secondary;
    div:nth-child(1){
        z-index: 10;
        position: relative;
    }
    div:nth-child(2){
        z-index: 2;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background-color: $primary;
        position: absolute;
        top:17px;
        left:-25px

    }
}

#home-section{
    height: calc(100vh - 150px);
    max-width: 100%;
    overflow: hidden;
    box-sizing:border-box;
    background-color: #fffbf2;
    padding: 100px 120px 0px 80px;
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-bottom: 102px;
}
#home-social-media-link{
    @extend .flex-space;
    height: 165px;
    width: 35px;
    flex-direction: column;
    bottom: 74px;
    right: 87px;
    position: absolute;
    div{
        cursor: pointer;
        width:35px ;
        border-radius: 50%;
        height: 35px;
        background-color: $secondary;
        @extend .flex-center;
        i{
            transition-duration: 0.2s;
            color: white;
            font-size: large;
            &:hover{
                color: $primary;
            }
        }
    }
}
#arrow-down{
    position: absolute;
    bottom:74px;
    left: 85px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid $secondary;
    @extend .flex-center;
    z-index: 100;
    i{
        margin-top:8px;
        animation: float 3s ease-in-out infinite;
        font-size: x-large;
        color: $secondary;
    }

}
#adewale-image{
    height: calc(100vh - 200px);
    width: clamp(300px, 50vw,597px);
    position: absolute;
    bottom: 0px;
    right: 50%;
    transform: translateX(50%);
    z-index: 1;
    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
#fashion-presentation{
    margin-bottom: 102px;
    padding: 0px 80px 24px 80px;
    position: relative;
    box-sizing: border-box;
    #symbol{
        width: calc( 50% + 24px);
        position: absolute;
        top: 136px;
        right: 0px;
        height: 110;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .fashion-image-container,#fashion-swiper{
        
        padding-right:150px;
        position: absolute;
        top: 0px;
        height: 807px;
        width: calc(100% - 230px);
        display: flex;
        .fashion-image:hover{
            div{
                opacity: 1;
            }
        }
        .fashion-image{
            position: relative;
            div{
                cursor: pointer;
                width:100%;
                height: 100%;
                position: absolute;
                background-color: #390d1b;
                transition: 0.3s ease-in;
                opacity:0;
                z-index: 3;
                @extend .flex-center;
                button{
                    background-color: white;
                    font-family: 'Inter', sans-serif;
                    color:black;
                    padding: 8px 16px 8px 16px;
                }
            }
            height: 300px;
            width: clamp(200px,25%,300px);
            img{
                width: 100%;
                height: 100%;
                object-fit: fill;
            }
            &:nth-child(1){
                margin-top: 673px;
            }
            &:nth-child(2){
                margin-top: 471px;
            }
            &:nth-child(3){
                margin-top: 249px;
            }
            &:nth-child(4){
                margin-top: 17px;
            }
        }
    }
}
#fashion-swiper{
    display: none !important ;
    margin-top: 84px;
    .fashion-image{
        margin-top: 0px;
    }
    .fashion-image{
        div{
            opacity: 0.5 !important;
        }
    }
}

#actual-mode{
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    margin-top: 580px;
    @extend .intro-article;
    display: flex;
    flex-direction: column;
    align-items: center;
    div{
        max-width: 600px;
        text-align: center;
    }
}
#see-all{
    display: flex;
    cursor: pointer;
    justify-content: right;
    align-items: center;
    margin: 30px 103px 30px 80px;
    box-sizing: border-box;
    transition-duration:0.2s ;
    i{
        color:$primary;
    }
    &:hover{
        font-size: 1.05rem;
    }
}
.row{
    display: flex;
    justify-content: space-between;
    display :grid;
    grid-template : auto / 1fr 1fr 1fr 1fr;
    margin: 0px 80px 0px 80px;
    position: relative;
    box-sizing: border-box;
    gap:24px;
}
.card{
    margin-right: 23px;
    margin-bottom: 79px;
    display: grid;
    position: relative;
    &:first-child{
        margin-left: 0px !important;
    }
    .card-img{
        position: relative;
        width: 100%;
        height: 358px;
        img{
            border: 1px solid rgba(128, 128, 128, 0.3);
            border-radius: 20px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        div{
            cursor: pointer; 
            padding-right: 42px;
            position: absolute;
            left: 14px;
            bottom: 14px;
            display: flex;
            color: white;
            align-items: center;
            img{
                width: 25px;
                height: 25px;
                margin-right: 8px;
            }
        }
        i{
            &:hover{
                color:$primary;
            }
            position: absolute;
            right: 14px;
            bottom: 14px;
            font-size: x-large;
            color: white;
        }
    }
    .price-buy{
        margin-top: 20px;
        display: flex;
        align-items: end;
        justify-content: space-between;
        width: 100%;
        div{
            span{
                display: block;
                font-family: 'Inter',sans-serif;
                &:last-child{
                    margin-top: 6px;
                    font-weight: bold;
                    color: $primary;
                }
            }
        }
    }
    button{
        width: clamp(100px,50%,118px);
        display: flex;
        align-items: center;
        padding: 0px !important;
        justify-content: center;
        height: 38px;

    }
    
}
#testimonial-section{
    margin-bottom: 52px;
    padding-left: 132px;
    padding-right: 123px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .intro-article{
        text-align: center;
        margin-bottom: 79px;
        text-align: 100%;
        width: clamp(300px , 60%, 500px);
        div,h2{
            text-align: center;
        }
    }
    #testimonial{
        .chevron{
            position: relative;
            @extend .flex-center;
            position: absolute;
            top:30%;
            cursor: pointer;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            &:first-child{
                left: -32px;
            }
            &:last-child{
                right: -32px;
            }
            &:hover{
                background-color: rgba($primary, 0.1);
            }
            i{
                color:$primary;
            }
        }
        
        width: 90vw;
        position: relative;
        display: flex;
        box-sizing: border-box;
        justify-content: center;
    }
    .testimonial-message-container{
        max-width: clamp(300px,32%,385px);
        &:first-child{
            margin-left: 20px;
            margin-right: 20px;
        }
    }
    .testimonial-message{     
        .chat{
            position: relative;
            box-sizing: border-box;
            background-color: $secondary;
            min-height: 229px;
            text-align: left;
            border-radius: 10px;
            padding: 42px 18px 54px 25px;
            font-family: 'Inter',sans-serif;
            color: white;
        }
        img{
            display: block;
            width: 32px;
            margin-bottom: 32px;
        }
    }
    .testimonial-author{
        display: flex;
        align-items: center;
        margin-top: 38px;
        img{
            width: 51px;
            height: 51px;
            margin-right: 18px;
        }
        span{
            display: block;
            font-weight: 400;
            &:first-child{
                margin-bottom: 3px;
                font-weight: bold;
                color:$primary
            }
        }
    }
    .triangle{
        border-right: 35px solid $secondary;
        border-radius: 5px;
        border-bottom: 33px solid transparent;
        border-top:46px solid transparent ;
        position: absolute;
        bottom: -23px;
        left: 20px;
        transform: rotate(40deg);
    }
}

#contact{
    position: relative;
    background-color: $primary;
    margin-top: 116px;
    padding: 116px 0px 0px 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:white;
    font-family: 'Inter',sans-serif;
    flex-wrap: wrap;
    box-sizing: border-box;
    #manequin{
        margin-top: -232px;
    }
    #adewale_border{
        bottom: 0px;
        left: 0px;
        position: absolute;
    }
    form{
        margin-right: 135px;
        display: flex;
        flex-direction: column;
        ::placeholder{
            font-family: 'Inter',sans-serif;
            color: white;

        }
        input,textarea{
            width: clamp(250px,35vw,537px);
            margin-bottom: 20px;
            padding-bottom: 9px;
            outline: none;
            background-color: transparent;
            border: none;
            border-bottom: 1px solid $secondary !important;
            outline: none;
            
        }
        margin-bottom: 16px;
    }
    #form-intro{
        span{
            display: block;
            margin-bottom: 15px;
        }
        span:last-child{
            font-family: 'giflika',sans-serif;
            font-size: 28px;
            font-weight: 400px;
            margin-bottom: 38px;
            color: $secondary;
            resize: none;
        }
    }
    button{
        width: 252px;
    }

    
}
#info{
    padding: 103px 0px 38px 0px;
    #footer-item-list-container{
        flex-wrap: wrap;
        padding: 0px 129px 0px 105px;
        display: flex;
        align-items:start;
        justify-content: space-between;
        border-bottom:1px solid black;
        padding-bottom: 63px;
    }
    text-align: left;
   .footer-item-list{
        &:nth-child(2){
            div{
                cursor: pointer;
                &:hover{
                    color: $primary;
                }
            }
        }
        span{
          display: block;  
        }
        div{
            margin-bottom: 12px;
        }
        h6{
            margin-top: 0px;
            font-family: 'Inter',sans-serif;
            font-size: 18px;
            font-weight: 500;
        }
   }
   #footer-social-media{
    margin-top: 38px;
    display: flex;
    justify-content: left;
    div{
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), #FFAB00;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        margin-right: 17px;
        justify-content: center;
        align-items: center;
        display: flex;
    }
   }
   #copyright{
    margin-top:38px ;
    text-align: center;
    width: 100%;
   }
}

@media (width<1200px) {
    
    .row{
        grid-template : auto /  1fr 1fr 1fr;
    }
    #contact{
        justify-content: center !important;
        form{
            margin: 32px 0px 32px 0px;
            display: flex;
            align-items: center;
        }
    }
}
@media (599px<width<800px) {
    .row{
        grid-template : auto / 1fr 1fr;
    }
    .fashion-image-container{
        display: none !important;
    }
    #info{
        flex-direction: column;
       
    }
    .footer-item-list:last-child{
        margin-left: 32px;
    }
}
@media (width<600px ) {
    .row{
        grid-template : auto / 1fr;
    }
    .fashion-image-container{
        display: none !important;
    }
    #fashion-swiper{
        display: block !important;
    }
    #info{
        padding-top: 64px ;
        align-items: left;
    }
    #contact{
        padding-left: 0px !important;
    }
    #manequin,form{
        width: 85% !important;
    }
    #footer-item-list-container{
        flex-direction: column;
        align-items: center !important;
        justify-content: center !important;
        .footer-item-list{
            margin-top: 32px;
        }
    }
    
    #arrow-down{
        bottom:16px;
        width: 30px;
        height: 30px;
        i{
            margin-top:8px;
            animation: float 3s ease-in-out infinite;
            font-size: large;
            color: $secondary;
        }
    }
    #adewale-image{
        height: calc(100vh - 100px) ;
        width: clamp(500px, 50vw,597px);
        right: 20%;
        position: relative;
        top: -100px
    }
    #home-social-media-link{
        width: 25px;
        bottom: 16px;
        right: 32px;
        div{
            width:25px ;
            height: 25px;
            i{
                font-size:medium;
            }
        }
        
    }
    .footer-item-list:last-child{
        margin-left: 16px ;
    }
    #men-women{
        display: none;
    }

    #home-section{
        padding: 20px 120px 0px 80px;
        .intro-article{
            div{
            text-align: left;

            }
        }
    }
    h6{
        margin-bottom: 16px;
    }
    

    .intro-article{
        div{
            text-align: justify;
        }
    }
    header,#home-section,#fashion-presentation,#actual-mode,#testimonial{
        padding-right: 32px;
        padding-left: 32px;
    }
    #actual-mode{
        margin-top: 450px;
    }
    #symbol{
        display: none;
    }
    .testimonial-message-container{
        margin-left: 40px !important;
    }
    #testimonial .chevron{
        height: 25px;
        width: 25px;
        z-index: 100;
        &:first-child{
            left: 10px !important;
        }
        &:last-child{
            right: 15px !important;
        }
    }
}
@media (min-height:900px) {
    #home-section{
        height: calc(100vh - 100px) !important;
    }
    
}
@media(height<700px){
    #home-section{
        height: calc(100vh - 100px);
        padding-top: 0px;
        .intro-article{
            width: 550px;
        }
    }
    #arrow-down{
        bottom: 32px 
    }
    #home-social-media-link{
        height: 150px;
        width: 32px;
        bottom: 74px;
    }
}

    .menu-btn {
        display: none;
    }
  @media(width<1000px){

      .menu-btn{
        display: block;
        margin-left: 16px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        cursor: pointer;
        transition: all .5s ease-in-out;
      }
    
      .menu-btn__burger {
        width: 20px;
        height: 2px;
        background: black;
        border-radius: 5px;
        //box-shadow: 0 2px 5px rgba(255,101,47,.2);
        transition: all .5s ease-in-out;
      }
      .menu-btn__burger::before,
      .menu-btn__burger::after {
        content: '';
        position: absolute;
        width: 20px;
        height: 2px;
        background: black;
        border-radius: 5px;
        transition: all .5s ease-in-out;
      }
      .menu-btn__burger::before {
        transform: translateY(-8px);
        height: 1.5px;
      }
      .menu-btn__burger::after {
        transform: translateY(8px);
      }
      .menu-btn.open .menu-btn__burger {
        transform: translateX(-30px);
        background: transparent;
        box-shadow: none;
      }
      .menu-btn.open .menu-btn__burger::before {
        height: 2px;
        transform: rotate(45deg) translate(15px, -15px);
      }
      .menu-btn.open .menu-btn__burger::after {
        transform: rotate(-45deg) translate(15px, 15px);
      }
        #hamberger-menu
        {
            z-index: 1000;
            position: fixed;
            height: calc( 100vh - 104px);
            top:104px;
            overflow: hidden;
            width: 0px;
            background-color: #fffbf2;
            display: flex;
            align-items: center;
            justify-content: enter;
            ul{
                margin-top: -100px;
                flex-direction: column;
                li{
                    margin-left: -50px;
                    margin-bottom: 20px;
                }
            }
        }
        #horizontal-nav{
            display: none !important;
        }
    }